
header {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
@media not (max-width: 720px) {
    div-links {
        display: flex;
        background: lightgrey;
        border: solid;
        border-color: grey;
        margin: 1rem;
    }
    div-links div {
        flex: 100%;
    }
}
